
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form action = "/Student/InsertData">
     <div>Student id : <input type = "number" name = "id" placeholder = "enter id "></input></div>
     <div>Student name : <input type = "text" name = "name"></input></div>
     <div>Student marks : <input type = "number" name = "marks"></input></div>
     <button type="submit">Submit</button>
    </form> 
</div>
